<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.board.repository.BoardMapper">
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM BOARD
		<where>
			<if test="searchText != null and searchText != ''">
				TITLE LIKE '%' || #{searchText} || '%'
			</if>
		</where>
	</select>
	
	<select id="findBoards" resultType="board">
		SELECT * FROM BOARD
		<where>
			<if test="searchText != null and searchText != ''">
				TITLE LIKE '%' || #{searchText} || '%'
			</if>
		</where>
		ORDER BY CREATED_TIME DESC
	</select>
	
	<select id="findBoard" resultType="board">
		SELECT * FROM BOARD WHERE BOARD_ID = #{board_id}
	</select>
	
	<insert id="saveBoard">
		<selectKey keyProperty="board_id" resultType="long" order="BEFORE">
			SELECT SEQ_BOARD.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARD (BOARD_ID, TITLE, CONTENTS, MEMBER_ID, HIT, CREATED_TIME) VALUES (#{board_id}, #{title}, #{contents}, #{member_id}, 0, SYSDATE)
	</insert>
	
	<insert id="saveFile">
		<selectKey keyProperty="attachedFile_id" resultType="long" order="BEFORE">
			SELECT SEQ_BOARD.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ATTACHED_FILE (ATTACHEDFILE_ID, BOARD_ID, ORIGINAL_FILENAME, SAVED_FILENAME, FILE_SIZE) 
		VALUES (#{attachedFile_id}, #{board_id}, #{original_filename}, #{saved_filename}, #{file_size})
	</insert>
	
	<update id="updateBoard">
		UPDATE BOARD
		<set>
			<if test="title != null">TITLE = #{title},</if>
			<if test="contents != null">CONTENTS = #{contents},</if>
			<if test="hit != null">HIT = #{hit},</if>
		</set>
		WHERE BOARD_ID = #{board_id}
	</update>
	
	<select id="findFileByBoardId" resultType="file">
		SELECT * FROM ATTACHED_FILE WHERE BOARD_ID = #{board_id}
	</select>
	
	<select id="fineFileByAttachedFileId" resultType="file">
		SELECT * FROM ATTACHED_FILE WHERE ATTACHEDFILE_ID = #{attachedFile_id}
	</select>

</mapper>
