<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.board.repository.BoardMapper">
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM BOARD
		<where>
			<if test="searchText != null and searchText != ''">
				TITLE LIKE '%' || #{searchText} || '%'
			</if>
		</where>
	</select>
	
	<select id="findBoards" resultType="board">
		SELECT * FROM BOARD
		<where>
			<if test="searchText != null and searchText != ''">
				TITLE LIKE '%' || #{searchText} || '%'
			</if>
		</where>
		ORDER BY CREATED_TIME DESC
	</select>

</mapper>
